* {
  box-sizing: border-box;
}

html,
body {
  background: rgb(27, 27, 35);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100%;
}

.take-up-viewport {
  height: 100vh;
  width: 100vw;
}

.shelf-flex {
  display: flex;
}

.flex-end {
  justify-self: flex-end;
}

.flex-row-grow-and-shrink {
  flex: 1 1 0;
  width: 0;
}

.displayNone {
  display: none;
}


#info {
  overflow-y: hidden;
  overflow-x: auto;
}
#log {
  /* position: absolute; */
  top: 0;
  height: 100vh;
  flex: 1 1 30em;
  min-width: 30em;

  .log-message {
    background: burlywood;
    font-size: large;
    padding-left: 5px;
    overflow-wrap: anywhere;
  }

  #sticky-message {
    word-wrap: break-word;
  }
}

#game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  
  /* width: 100%; */
  /* height: auto; */
  /* max-height: 100vh; */
  box-sizing: content-box;
  /* aspect-ratio: 256/290; */
}

.fade-in {
  animation: fade-in-kf 2s linear 1 forwards;
}
.fade-out {
  animation: fade-out-kf 2s linear 1 forwards;
}

@keyframes fade-in-kf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes fade-out-kf {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
